@charset "UTF-8";

.diagram {
	padding:100px;
	position: relative;
    left: 280px;
    margin: 50px 0px 50px 0px;
    width: 850px;
    height: 600px;
    background-color: #FAFAFA;
}

.gameCard {
	padding:5px;
	position: relative;
	position: absolute;
	z-index: 0;
	text-align:center;
	border: 1px solid #000000;
	background-color:#FFFFFF;
}

.gameCard img {
	max-width:100px;
}

.gameCard:active {
	z-index: 1;
	pointer-events: none;
}

.gameCard:hover {
	cursor: grab;
}

.diagram:active:hover {
	cursor: grabbing;
}

#body {
    display: flex;
    width: 1300px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 30px;
}

#studyTestResult {
	position: relative;
	left: 330px;
	margin: 50px 0px 50px 0px;
	width: 130px;
	height: 600px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 20px #f0f0f0;
	font-family:"NotoSansKR-Regular";
    font-size: 15px;
}

.studyTestResult-title {
	margin: 20px 0px 150px 0px;
	cursor: pointer;
}
.studyTestResult-contents {
	vertical-align:middle;
	padding-left: 13px;
}
.material-icons {
	vertical-align:middle;
	width: 30px;
	height: 30px;
	color:#1ABC9C;	
}
.studyTestResult-text {
	margin: 30px 0px 30px 0px;
	text-align:center;
}

/* 강조효과 */
.studyTestResult-title:hover {
		background-color:#FFD739;
  		color:white;
  		text-decoration:none;
  		
}

