@charset "UTF-8";

.diagram {
	padding: 10px;
	width: 800px;
	height: 500px;
	margin-top: 50px;
	margin-left: 250px;
	border-bottom: 2px solid #c3c3c3;
	background-color: gray;
	position: relative;
	display:inline-block;
}

.gameCard {
	position: relative;
	background-color: cyan;
	position: absolute;
	z-index: 0;
}

.gameCard img {
	max-width:100px;
}

.gameCard:active {
	background-color: red;
	z-index: 1;
	pointer-events: none;
}

.gameCard:hover {
	cursor: grab;
}

#time_out{
	position:absolute;
	width:200px;
}

.diagram:active:hover {
	cursor: grabbing;
} 
