@charset "UTF-8";

/* 헤더 */
#header {
	height: 70px;
}

.nav {
	height: 50px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    align-items: center;
    text-align:center;
    font-family: "NotoSansKR-Regular", sans-serif;
}

.nav-item {
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

#title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size: 30px;
	flex: 1 1 11%;
}

#followingHeader {
	flex: 1 1 4%;
	border-right:1px solid #FFFFFF;
}

#newHeader {
	flex: 1 1 4%;
}

#nav-search {
	flex: 1 1 50%;
}

#signUpHeader {
	flex: 1 1 4%;
}

#signInHeader {
	flex: 1 1 4%;
}

#searchHeader {
	border-radius: 20px;
	width: 100%;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

.btn-header {
	background-color: #4257B2;
	border:0;
	outline:0;
}

#aLinkHeader {
	text-decoration:none;
	color:#FFFFFF;
}

#aLinkHeader:hover {
	background-color: #4257B2;
}

/* 헤더 끝 */

/*///////////////////////////////////////////////////////*/
/*로그인 이후 헤더*/
/*///////////////////////////////////////////////////////*/
#header-wrap {
	position:relative;
	min-width:1400px;
	height:50px;
	background-color: #4257B2;
	z-index:1;
}


.login-item {
	font-size:15px;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	
}

.login-btn {
	width:70px;
	background-color: #4257B2;
	border:0;
	outline:0;
}

#loginHeader {
	width: 1400px;
	height:50px;
	background-color: #4257B2;
	margin: 0 auto;
    padding: 0 30px;
}

#login-followingHeader {
	border-right:1px solid #FFFFFF;
}

#login-title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size:25px;
	width:100px;
	margin: 0px 70px 0px 0px;
}

#login-aLinkHeader {
	width:100px;
	font-size:20px;
	text-decoration:none;
}

#login-profileHeader {
	width:100px;
	margin: 0px 40px 0px 20px;
}

#login-nav-search {
	margin-right:50px;
	width:650px;
}

#profileImg {
	width:50px;
	height:50px;
	border-radius:20px;
	
}

#login-searchHeader {
	width:650px;
	height:30px;
	border-radius: 20px;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

#login-aLinkHeader:hover {
	background-color: #4257B2;
}





/* footer */

.color {
	background-color: #4257B2;
}

#footerTop {
	height: 30px;
}

#footerBottom {
	height: 70px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#footerCopywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 25px;
	margin-top:15px;
}


/* ///////////////////////////////////////헤더끝 */


/* 푸터 하단고정 */
html,body{height:100%}
body{margin:0}
#body{min-height:100%}
#content{padding-bottom:1.9em}
#footer{margin-top:-1.9em;}

/* footer 끝 */


/* 미디어쿼리*/
@media screen and (max-width: 1082px) {
	
	#followingHeader {
		display:none;
	}
	
	#newHeader {
		display:none;
	}
	
	#blankHeader {
		display:none;
	}
	#title {
		font-size: 20px;
		flex-basis: 25%;
	}
	
	#nav-search {
		flex-basis: 40%;
	}
	
	#signUpHeader {
		flex: 1 1 12.5%;
	}

	#signInHeader {
		flex: 1 1 12.5%;
	}
	
	#header {
		height: 50px;
	}
	
	#searchHeader {
	padding: 5px 5px 5px 10px;
	}
	
	.nav-item {
	font-size:15px;
	} 
	
	/* 푸터조절 */
	#footerTop {
		height: 10px;
	}
	
	#footerBottom {
		height: 33px;
	}
	
	#footerCopywrite {
		font-size: 15px;
		margin-top:6px;
	}
}


/*////////////////고정형푸터  */
.special_bg {
    position: relative;
    height: 80px;
    background-color: #FFFFFF;
}

.footer_flex {
	background-color: #4257B2;
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


ul.list_footer{
	display: flex;
	flex-wrap: wrap;
	height:100%;
    align-items: center;
	
	
	list-style: none;
    text-align:center;
    font-family: "NotoSansKR-Regular";
}

li.footer_item{
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

.footer_item>a {
	padding:0px 10px;
	text-decoration:none;
	color:#FFFFFF;
}

#copywrite_footer_flex {
	margin-left:200px;
}

#footerTop-flex {
	
	margin: 0 auto;
    padding: 0 30px;
	width: 1400px;
	height: 250px;
}

/* ////////////////////고정형푸터 끝 */