@charset "UTF-8";

/*폰트 적용*/
@font-face {
   font-family: "NotoSansKR-Regular";
   src: url("font/NotoSansKR-Regular.otf");
}

@font-face {
   font-family: "NotoSansKR-Bold";
   src: url("font/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
   legend, p, select, table, th, td, tr, textarea, button, form {
   margin: 0;
   padding: 0;
}



/* <<<<<<<<<<<<  회원가입/ 로그인  모달창    >>>>>>>>>>>>> */

.modal { background: rgba(0,0,0,.3) !important;}

#login-modal-content{
   width: 500px; height: 800px; 
   margin: 30px auto; 
   padding: 30px 0px 0px 0px;
   border: 1px solid #909090; /* 로그인 폼 겉 테두리 */
   border-radius: 20px;      /* 로그인폼 모서리둥글게 */
}

#join-modal-content {
   width: 470px; 
   height: 800px;
   margin: 0px auto;
   display:inline-block;
}



/* ================ 메인컨텐츠  ================ */


.img-block01 {
   display: block; 
   margin: auto;
   width:1200px;
   padding-top: 180px;
   position:relative;
   text-align:center;
}


.btn-study-open{
  width:160px;
  height:60px;
  background-color: #3BCECE;
  font-family: "NotoSansKR-Regular";
  font-size: 25px;
  color:white;
  border: none;
  border-radius: 35px;
  text-align: center;
  text-decoration: none;
  position: relative; 
  top: -80px;
  margin-left:-1040px;
  outline:0;
}

/* ================ mid ================= */
.mid {
   text-align:center;
   margin-top: 180px;
}
.txt-score {
   font-family: "NotoSansKR-Bold";
   font-size:36px;
   text-align:center;
}
#txt-light {
   background: linear-gradient(to top, yellow 100%, transparent 50%);
}
/* ============== mid01 (Quizbook을 사용하는 사용자들)============== */
.mid01{
   width: 1100px;
   display:flex;
   box-sizing: border-box;
   margin: 0px auto;
   padding-left:40px;
}
.txt-box1 {
   width: 400px;
   margin-top:285px;
   margin-right:100px;
   text-align:left;
}

.study-txt {
   font-family: "NotoSansKR-Bold";
   font-size:30px;
   margin-bottom:35px;
}

.study-txt2 {
   font-family: "NotoSansKR-Regular";
   font-size:15px;
}
.img-block02 {
   display: block; 
   margin: auto;
   padding-top: 50px;
   position:relative;
   float:right;
}
/* ============== mid2 (당신의 스터디를 공유하세요) ============== */
.mid02{
   width: 1100px;
   display:flex;
   box-sizing: border-box;
   margin: 0px auto;
   margin-top: 50px;
   margin-bottom: 50px;
   padding-right:40px;
}

.txt-box2 {
   width: 400px;
   margin-top:150px;
   text-align:left;
   margin-left:120px;
}

.study-txt3 {
   font-family: "NotoSansKR-Bold";
   font-size:30px;
   text-align:left;   
}

.study-txt4 {
   font-family: "NotoSansKR-Regular";
   font-size:15px;
   text-align:left;
   margin-top:35px;
}

.img-block03 {
   width:500px;
   padding-top: 45px;
   display: block;
   margin:0px auto; 
}


/* ============== mid03 작은 화면으로도 틈틈이 공부하세요============== */
.mid03{
   width: 1100px;
   display:flex;
   box-sizing: border-box;
   margin: 0px auto;
   padding-left:50px;
}

.txt-box3 {
   width: 310px;
   margin-top:300px;
   text-align:left;
   margin-right:220px;
}

.study-txt5 {
   font-family: "NotoSansKR-Bold";
   font-size:30px;
   text-align:left;
   
}

.study-txt6 {
   font-family: "NotoSansKR-Regular";
   font-size:15px;
   padding-top:35px;
   text-align:left;
}

.img-block04 {
   width:500px;
   display: block;
   margin:0px auto; 
}

.mid04{
   width: 1100px;
   display:flex;
   box-sizing: border-box;
   margin: 0px auto;
   margin-bottom: 50px;
   justify-content:center;
}

.img-block05 {
   width:777px;
   height:326px;
   padding-left: 14px;
   display: block;
   z-index:1;
}

.start-txt {
   position:absolute;
   font-family: "NotoSansKR-Regular";
   font-size:20px;
   text-align:center;
   z-index:2;
   padding-top:215px;
   cursor:pointer;
}
.mid05{
   width: 1100px;
   margin: 0px auto;
   margin-bottom: 50px;
}
.img-block06 {
   width:800px;
   padding-top: 45px;
   display: block;
   margin:auto;
   margin-bottom: 200px;
   }
   
/*    모달       */
.modal {
    padding-right: 0px !important;
}

#alert-modal-content {
	margin-top:10%;
}

#alert-modal-dialog {
    width: 300px;
    margin: 30px auto;
}

#modalAlert {
	padding-top:15%;
}


.modal-open {
  overflow:hidden;
  overflow-y:scroll;
  padding-right:0 !important;
}
