@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family:"NotoSansKR-Regular";
	src:url("fonts/NotoSansKR-Regular.otf");
}
@font-face {
	font-family:"NotoSansKR-Bold";
	src:url("fonts/NotoSansKR-Bold.otf");
}

/****************************************************************/
/* 초기화 관련 ***************************************************/
/****************************************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}


/* 바디정렬 */

body {
	text-align: center;
}
/* 회원가입 폼 */

#center-content .join-Form {
	border: 1px solid #EFEFEF;
	border-radius: 15px;
	width: 500px; 
	height: 800px;
	margin: 0px auto;
	display:inline-block;
}

/* 상단 이미지 영역*/
	.joinImg {
		margin:40px 0px 30px 0px;
		height:220px;
	}
	
/*  아이디 비밀번호 나이 입력 영역*/
	#form-group{
	text-align: center;
	}
	
	/*  아이디 비밀번호 나이 입력창 */
	.form-text { 
	  padding:0px 0px 0px 10px;
	  margin-top: 10px;
	  border-radius: 15px; 
	  width:265px; 
	  height:50px; 
	  border:2px solid #8E8D8D;
	  font-family:"NotoSansKR-regular", sans-serif;
	  font-size:16px;
	  }
	
	/* 버튼 영역 */		  
	#BtnBox {
	padding:0 0 0 0;
	text-align: center;
	
	}
	/* 가입 버튼*/	
	.btn-Join { 
	margin-top: 10px;
	border-radius: 30px; width:270px; height:40px; 
	background-color:#3975EA;
	color:#ffffff;
	font-family:"NotoSansKR-regular", sans-serif;
	font-size:15px;
	border-style: none;
	cursor: pointer;
	
	}
	/* 또는*/	
	.or {
	margin-top: 22px;
	color:#686868;
	font-size:15px;
	}
	/* 구글가입 버튼*/	
	#btnGoogle { 
	margin-top: 10px;
	border-radius: 30px; width:270px; height:40px; 
	background-color:#EFEFEF;
	color:#000000;
	font-family:"NotoSansKR-regular", sans-serif;
	font-size:15px;
	border-style: none;
	cursor: pointer;
	
	}
	/* 이미 아이디가 있는경우*/	
	.already { 
	margin: 40px 0px 40px 0px;
	color:#000000;
	font-family:"NotoSansKR-regular", sans-serif;
	font-size:13px;
	}
	
	
	
	
	