@charset "UTF-8";


/*폰트 적용*/
@font-face {
	font-family:"NotoSansKR-Regular";
	src:url("fonts/NotoSansKR-Regular.otf");
}
@font-face {
	font-family:"NotoSansKR-Bold";
	src:url("fonts/NotoSansKR-Bold.otf");
}


/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body::-webkit-scrollbar {display: none;}

/*header css*/
#header {width: 1920px; height: 70px; background-color:#4257B1; position: fixed;}
#nav {width: 1780px; height: 70px; background-color:#4257B1; margin:0 auto;}

ul, ol	{list-style-type: none;}

#nav ul>li {float:left; color:#FFFFFF; background-color:#4257B1;}
#nav ul>li.left {float:left;}
#nav ul>li.right {float:right;}
#nav ul>li>Button {border:0; outline:0; background-color:#4257B1; font-size:15px; font-weight:400; font-family: "NotoSansKR-Regular", sans-serif;}
#nav ul>li>Button.title {margin:17px 110px 0px 0px; font-family:"NotoSansKR-Bold"; font-size: 25px; font-weight:700;}
#nav ul>li>Button.navLeft {float:left; margin:25px 0px 0px 0px; padding:0px 30px 0px 0px;}
#nav ul>li>Button.rightLine{border-right:1px solid #FFFFFF;}
#nav ul>li>Button.navRight {float:right; margin:25px 0px 0px 30px;}
#nav ul>li>input {margin:15px 10px 0px 40px; border:none; border-radius:20px; width:1020px; height:40px; color:#000000;}


/*mainImg*/
#main1 {width: 1920px; height:882px; background-color:#123456;}
#mainImg1 img {width:600px; height:600px;}


#main2 {width: 1920px; height:882px; background-color:#654321;}


#main3 {width: 1920px; height:882px; background-color:#abcdef;}



/* footer */
.color {
	background-color: #4257B2;
}

#footerTop {
	height:50px;
}

#footerBottom {
	height:100px;
}
#divider {
	background-color: #f6f7fb;
    border: none;
    height: 2px;
    margin: 0;
    opacity: .2;  
}

.logo {
	width:30px;
	height:30px;
}

#copywrite {
	text-align:right;
	color:#FFFFFF;
	font-size:20px;
}
/* footer 끝 */