@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family: "NotoSansKR-Regular";
	src: url("fonts/NotoSansKR-Regular.otf");
}

@font-face {
	font-family: "NotoSansKR-Bold";
	src: url("fonts/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* 헤더 */
#header {
	height: 70px;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    align-items: center;
    text-align:center;
    font-family: "NotoSansKR-Regular", sans-serif;
}

.nav-item {
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

#title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size: 30px;
	flex: 1 1 11%;
}

#followingHeader {
	flex: 1 1 4%;
	border-right:1px solid #FFFFFF;
}

#newHeader {
	flex: 1 1 4%;
}

#nav-search {
	flex: 1 1 50%;
}

#signUpHeader {
	flex: 1 1 4%;
}

#signInHeader {
	flex: 1 1 4%;
}

#searchHeader {
	border-radius: 20px;
	width: 100%;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

.btn-header {
	background-color: #4257B2;
	border:0;
	outline:0;
}

#aLinkHeader {
	text-decoration:none;
	color:#FFFFFF;
}

#aLinkHeader:hover {
	background-color: #4257B2;
}

/* 헤더 끝 */

/*///////////////////////////////////////////////////////*/
/*로그인 이후 헤더*/
/*///////////////////////////////////////////////////////*/
#header-wrap {
	position:relative;
	min-width:1400px;
	height:50px;
	background-color: #4257B2;
	z-index:1;
}


.login-item {
	font-size:15px;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	
}

.login-btn {
	width:70px;
	background-color: #4257B2;
	border:0;
	outline:0;
}

#loginHeader {
	width: 1400px;
	height:50px;
	background-color: #4257B2;
	margin: 0 auto;
    padding: 0 30px;
}

#login-followingHeader {
	border-right:1px solid #FFFFFF;
}

#login-title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size:25px;
	width:100px;
	margin: 0px 70px 0px 0px;
}

#login-aLinkHeader {
	width:100px;
	font-size:20px;
	text-decoration:none;
}

#login-profileHeader {
	width:100px;
	margin: 0px 40px 0px 20px;
}

#login-nav-search {
	margin-right:50px;
	width:650px;
}

#profileImg {
	width:50px;
	height:50px;
	border-radius:20px;
	
}

#login-searchHeader {
	width:650px;
	height:30px;
	border-radius: 20px;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

#login-aLinkHeader:hover {
	background-color: #4257B2;
}

/* 로그인 이후 main */
#main-wrap {
	min-width:1400px;
	overflow:hidden;
	background-color: #FFFFFF;
}

#main-body {
	display:flex;
	width:1400px;
	background-color: #FFFFFF;
	margin: 0 auto;
    padding: 0 30px;
}

#side-nav {
	background-color:#F4F4F4;
	position:fixed;
	width:240px;
	height:500px;
}

#main {
	position:relative;
	left:240px;
	width:1000px;
	margin:30px;
	background-color: #FFFFFF;
}


/*유저프로필*/
#user-profile {
	position:relative;
	height:250px;
	padding:50px 0px 0px 0px;
}

#userprofile-Img {
	width:80px;
	height:80px;
	margin: 0 auto;
}

.mainImg {
	width:100%;
	height:100%;
}

#userprofile-Info {
	text-align:center;
}

#userprofile-Button {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0px;
}

.user-alink:link {
	text-decoration:none;
	color: #000000;
}
.user-alink:visited {
	text-decoration:none;
	color: #000000;
}
.user-alink:hover {
	text-decoration:none;
	color: #000000;
}
.user-alink:active {
	text-decoration:none;
	color: #000000;
}

.alink-Title {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:20px;
}

.alink-Content {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:10px;
	padding:0px 10px 0px 10px;
}

.left-line {
	border-right:1px solid #8F8F8F;
}

.leftButton {
	width:25px;
	height:25px;
	float:left;
}

.rightButton {
	width:25px;
	height:25px;
	float:right;
}

.order-menu {
	float:right;
	width:100px;
  	margin: 0;
  	padding: 0;
  	background: #FFFFFF;
  	list-style: none;
  	box-shadow:
    	0 15px 35px rgba(50,50,90,0.1),
    	0 5px 15px rgba(0,0,0,0.07);
  	overflow: hidden;
  	z-index: 100;
  	border:2px solid #CCCCCC;
  	display:none;
}

.order-menu a {
	text-decoration:none;
}

.order-list {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:15px;
	color:#000000;
	text-decoration:none;
}

/*유저세트*/
#user-set {
	min-height:1000px;
	background-color:#FFFFFF;
	margin:30px 0px 0px 0px;
}

#userset-folderName {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size:20px;
	padding:20px;
}

#userset-setArea {
	width:100%;
	padding:0px 0px 0px 120px;
	/*padding:0px 50px 0px 100px;*/
}

.userset-set {
	border:1px solid #F2F2F2;
	border-radius:10px;
	font-family:"NotoSansKR-Regular", sans-serif;
	vertical-align:top;
	display:inline-block;
	width:180px;
	height:180px;
	margin:5px;
	padding:0px 10px 0px 10px;
	cursor:pointer;
}

.userset-set:hover {
	border:3px solid #7A0B0F;
	transition:ease 0.2s;
}

.color1 {
	background-color:#6FC4FD;
}
.color2 {
	background-color:#F4CC28;
}
.color3 {
	background-color:#F8887D;
}
.color4 {
	background-color:#61E498;
}

/* 세트 헤더 */
.setHeader {
	position:relative;
	width:100%;
	height:65%;
	padding:30px 0px 0px 0px;
}

.setHeader-Save {
	position:absolute;
	left:130px;
	top:10px;
	width:25px;
	height:25px;
	visibility:hidden;
}

.setHeader-Save-Button {
	width:100%;
	height:100%;
	border:none;
	background-color:transparent;
}

.setHeader-Title {
	font-size:15px;
	font-family:"NotoSansKR-Bold", sans-serif;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: normal;
	line-height: 1.2; 
	height: 1.2em;
	width:158px;
	display:-webkit-box; 
	-webkit-line-clamp:1; 
	-webkit-box-orient:vertical;
}

.setHeader-setContent {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: normal;
	line-height: 1.2; 
	height: 2.4em;
	width:158px;
	display:-webkit-box; 
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	margin:10px 0px 0px 0px;
}

/* 세트 푸터 */
.setFooter {
	font-family:"NotoSansKR-Regular", sans-serif;
	position:relative;
	width:100%;
	height:35%;
	font-size:12px;
	padding:0px 0px 30px 0px;
}

.setFooter-like {
	float:left;
}

.setFooter-dislike {
	float:right;
}

/* 세트 우클릭 */
.custom-menu {
	width:100px;
    position: absolute;
  	margin: 0;
  	padding: 0;
  	background: #FFFFFF;
  	list-style: none;
  	box-shadow:
    	0 15px 35px rgba(50,50,90,0.1),
    	0 5px 15px rgba(0,0,0,0.07);
  	overflow: hidden;
  	z-index: 999999;
  	border:2px solid #CCCCCC;
}

/* .custom-menu-button {
	width:100px;
    position: absolute;
  	margin: 0;
  	padding: 0;
  	background: #FFFFFF;
  	list-style: none;
  	box-shadow:
    	0 15px 35px rgba(50,50,90,0.1),
    	0 5px 15px rgba(0,0,0,0.07);
  	overflow: hidden;
  	z-index: 999999;
  	border:2px solid #CCCCCC;
  	display:none;
} */

.folder-menu {
	display:none;
}

.set-menu {
	display:none;
}

.bottom-line {
	border-bottom:1px solid #CCCCCC;
}

.custom-menu-attribute {
	padding:5px;
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:15px;
	color:#000000;
}

.custom-menu-attribute:hover {
	cursor:pointer;
	background:#CE93D8;
  	border-left:3px solid #9C27B0;
  	transition:ease .2s;
}






















/* footer */

.color {
	background-color: #4257B2;
}

#footerTop {
	height: 30px;
}

#footerBottom {
	height: 70px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#footerCopywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 25px;
	margin-top:15px;
}








/* 푸터 하단고정 */
html,body{height:100%}
body{margin:0}
#body{min-height:100%}
#content{padding-bottom:1.9em}
#footer{margin-top:-1.9em;}

/* footer 끝 */


/* 미디어쿼리*/
@media screen and (max-width: 1082px) {
	
	#followingHeader {
		display:none;
	}
	
	#newHeader {
		display:none;
	}
	
	#blankHeader {
		display:none;
	}
	#title {
		font-size: 20px;
		flex-basis: 25%;
	}
	
	#nav-search {
		flex-basis: 40%;
	}
	
	#signUpHeader {
		flex: 1 1 12.5%;
	}

	#signInHeader {
		flex: 1 1 12.5%;
	}
	
	#header {
		height: 50px;
	}
	
	#searchHeader {
	padding: 5px 5px 5px 10px;
	}
	
	.nav-item {
	font-size:15px;
	} 
	
	/* 푸터조절 */
	#footerTop {
		height: 10px;
	}
	
	#footerBottom {
		height: 33px;
	}
	
	#footerCopywrite {
		font-size: 15px;
		margin-top:6px;
	}
}


/*////////////////고정형푸터  */
.special_bg {
    position: relative;
    height: 80px;
    background-color: #FFFFFF;
}

.footer_flex {
	background-color: #4257B2;
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


ul.list_footer{
	display: flex;
	flex-wrap: wrap;
	height:100%;
    align-items: center;
	
	
	list-style: none;
    text-align:center;
    font-family: "NotoSansKR-Regular";
}

li.footer_item{
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

.footer_item>a {
	padding:0px 10px;
	text-decoration:none;
	color:#FFFFFF;
}

#copywrite_footer_flex {
	margin-left:200px;
}

#footerTop-flex {
	
	margin: 0 auto;
    padding: 0 30px;
	width: 1400px;
	height: 250px;
}

/* ////////////////////고정형푸터 끝 */



















/* @charset "UTF-8";


폰트 적용
@font-face {
	font-family:"NotoSansKR-Regular";
	src:url("fonts/NotoSansKR-Regular.otf");
}
@font-face {
	font-family:"NotoSansKR-Bold";
	src:url("fonts/NotoSansKR-Bold.otf");
}


여백 초기화
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body::-webkit-scrollbar {display: none;}

header css

header

#nav {
	display:flex;
	align-items:center;
	height: 70px; background-color:#4257B1;
}

.nav-item {
	color: #FFFFFF;
	background-color:#4257B1;
	border:0; 
	outline:0;
	font-size:15px; font-weight:400; font-family: "NotoSansKR-Regular", sans-serif;
}


#nav div.main-title{width:25%; height:70px;}
#nav div.main-search{width:25%; height:70px;}
#nav div.main-left{width:25%; height:70px;}
#nav div.main-right{width:25%; height:70px;}


#nav div.main-margin{width:3%; height:70px;}
#nav Button {border:0; outline:0; background-color:#4257B1; font-size:15px; font-weight:400; font-family: "NotoSansKR-Regular", sans-serif;}
#nav Button.title {margin:0% 3% 0% 0%; font-family:"NotoSansKR-Bold"; width:10%; font-size: 25px; font-weight:700;}
#nav Button.content { width:8%;}
#nav Button.rightLine{border-right:1px solid #FFFFFF;}
#nav input {margin:0% 3% 0% 3%; border:none; border-radius:20px; width:43%; height:40px; color:#000000; background-color:#FFFFFF;}


mainImg

#main1 {width: 1920px; height:882px; background-color:#123456;}
#mainImg1 img {width:600px; height:600px;}


#main2 {width: 1920px; height:882px; background-color:#654321;}


#main3 {width: 1920px; height:882px; background-color:#abcdef;}

@media all and (max-width:1100px) {
	#nav Button.left{display:none;}
}

header


footer
.color {
	background-color: #000000;
}

#header {
	height: 50px;
}

#footerTop {
	height: 50px;
}

#footerBottom {
	height: 100px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#copywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 20px;
}
footer 끝 */