@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family: "NotoSansKR-Regular";
	src: url("fonts/NotoSansKR-Regular.otf");
}

@font-face {
	font-family: "NotoSansKR-Bold";
	src: url("fonts/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* 로그인 이후 main */

#main-wrap {
	min-width:1400px;
	overflow:hidden;
	background-color: #FFFFFF;
}

#main-body {
	display:flex;
	width:1300px;
	background-color: #FFFFFF;
	margin: 0 auto;
    padding: 0 30px;
}

#side-nav {
	background-color:#F4F4F4;
	position:fixed;
	width:240px;
	height:500px;
}

#main {
	position:relative;
	left:240px;
	width:980px;
	margin:30px;
	background-color: #FFFFFF;
}


/*유저프로필*/
#user-profile {
	position:relative;
	width:950px;
	height:230px;
	padding:20px 0px 0px 0px;
	margin-left:5px;
}

#userprofile-Img {
	width:80px;
	height:80px;
	margin: 0 auto;
}

.mainImg {
	width:100%;
	height:100%;
}

#userprofile-Info {
	text-align:center;
}

#userprofile-Button {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0px;
}

.user-alink:link {
	text-decoration:none;
	color: #000000;
}
.user-alink:visited {
	text-decoration:none;
	color: #000000;
}
.user-alink:hover {
	text-decoration:none;
	color: #000000;
}
.user-alink:active {
	text-decoration:none;
	color: #000000;
}

.alink-Title {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:20px;
}

.alink-Content {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:10px;
	padding:0px 10px 0px 10px;
}

.left-line {
	border-right:1px solid #8F8F8F;
}

.leftButton {
	width:20px;
	height:20px;
	float:left;
}

.rightButton {
	width:22px;
	height:20px;
	float:right;
	margin-left:30px;
}

.order-menu {
	float:right;
	width:100px;
  	margin: 0;
  	padding: 0;
  	background: #FFFFFF;
  	list-style: none;
  	box-shadow:
    	0 15px 35px rgba(50,50,90,0.1),
    	0 5px 15px rgba(0,0,0,0.07);
  	overflow: hidden;
  	z-index: 100;
  	border:2px solid #CCCCCC;
  	display:none;
}

.order-menu a {
	text-decoration:none;
}

.order-list {
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:15px;
	color:#000000;
	text-decoration:none;
}

/*유저세트*/
#user-set {
	min-height:1020px;
	width:950px;
	background-color:#F4F4F4;
	margin:10px 0px 0px 5px;
	
}

#userset-folderName {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size:20px;
	padding:20px;
}

#userset-setArea {
	width:100%;
	padding:0px 0px 0px 50px;
	/*padding:0px 50px 0px 100px;*/
}

.userset-set {
	border:1px solid #F4F4F4;
	border-radius:10px;
	font-family:"NotoSansKR-Regular", sans-serif;
	vertical-align:top;
	display:inline-block;
	width:160px;
	height:160px;
	margin:5px;
	padding:0px 10px 0px 10px;
	cursor:pointer;
	box-shadow: 0px 0px 10px #ffffff;
}

.userset-set:hover {
	border:3px solid #F4F4F4;
	transition:ease 0.2s;
}

.color1 {
	background-color:#FF6F67;
}
.color2 {
	background-color:#D3D5F5;
}
.color3 {
	background-color:#F7898A;
}
.color4 {
	background-color:#8DD7BF  ;
}
.color5 {
	background-color:#FCF9FC;
}
.color6 {
	background-color:#FFBF65;
}
.color7 {
	background-color:#C8EBFA;
}

/* 세트 헤더 */
.setHeader {
	position:relative;
	width:100%;
	height:65%;
	padding:30px 0px 0px 0px;
}

.setHeader-Save {
	position:absolute;
	left:130px;
	top:10px;
	width:25px;
	height:25px;
	visibility:hidden;
}

.setHeader-Save-Button {
	width:100%;
	height:100%;
	border:none;
	background-color:transparent;
}

.setHeader-Title {
	font-size:15px;
	font-family:"NotoSansKR-Bold", sans-serif;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: normal;
	line-height: 1.2; 
	height: 1.2em;
	width:140px;
	display:-webkit-box; 
	-webkit-line-clamp:1; 
	-webkit-box-orient:vertical;
}

.setHeader-setContent {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: normal;
	line-height: 1.2; 
	height: 2.4em;
	width:140px;
	display:-webkit-box; 
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	margin:10px 0px 0px 0px;
}

/* 세트 푸터 */
.setFooter {
	font-family:"NotoSansKR-Regular", sans-serif;
	position:relative;
	width:100%;
	height:35%;
	font-size:12px;
	padding:0px 0px 30px 0px;
}

.setFooter-like {
	float:left;
}

.setFooter-dislike {
	float:right;
}

/* 세트 우클릭 */
.custom-menu {
	width:100px;
    position: absolute;
  	margin: 0;
  	padding: 0;
  	background: #FFFFFF;
  	list-style: none;
  	box-shadow:
    	0 15px 35px rgba(50,50,90,0.1),
    	0 5px 15px rgba(0,0,0,0.07);
  	overflow: hidden;
  	z-index: 999999;
  	border:2px solid #CCCCCC;
}

.myfolder-menu {
	display:none;
}

.otherfolder-menu {
	display:none;
}

.set-menu {
	display:none;
}

.bottom-line {
	border-bottom:1px solid #CCCCCC;
}

.custom-menu-attribute {
	padding:5px;
	font-family:"NotoSansKR-Regular", sans-serif;
	font-size:15px;
	color:#000000;
}

.custom-menu-attribute:hover {
	cursor:pointer;
	background:#CE93D8;
  	border-left:3px solid #9C27B0;
  	transition:ease .2s;
}

/* ================ footer ================ */

#footer{
	background-color: #4257B2;

}
.footertop{
	padding-top:50px;
	
}

.footerinbox{
	width:100%;
	max-width:1200px;
	height:100%;
	margin:0px auto;
}
#footerTop {
	height: 465px;
}

#footerBottom {
	height: 55px;
}

.logo {
	width: 30px;
	height: 30px;
}
#oneline {
	background-color: #ffffff;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .5;
	margin-top:100px;
	
}
#footerSns {
		float:left;
	}
#footerCopywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 15px;
	margin-top:15px;
	
}


/* 푸터조절 */
	#footerTop {
		height: 465px;
		text-align:left;
	}
	
	.row1 {
		font-family:"NotoSansKR-Regular", sans-serif;
		font-size:20px;
		color:white;
		text-align:left;
	}
	.row2 {
		margin: 10px 0px 0px 0px;
		font-family:"NotoSansKR-Medium", sans-serif;
		font-size:16px;
		color:white;
		text-align:left;
	}
	#footerBottom {
		height: 55px;
	}
	
	#snsImg {
		margin-top:6px;
		float:left;
	}
	
	#footerCopywrite {
		font-size: 11px;
		margin-top:6px;
	}
	
	
	
	/* 폴더 생성 모달 */
	
	#folderCreateModal {
		text-align: center;
	}
	
	#folderCreateModal-Content {
		width:350px;
		height:200px;
		padding: 10px 20px 10px 20px;
		margin:0 auto;
	}
	
	#folderCreate-Name, #folderCreate-Namecreate{
	color:#333;
	font-size:18px;
	font-family: "NotoSansKR-Bold";
	display:inline-block;
	margin-right: 5px;
	}
	
	#folderCreate-Namecreate, #folderCreate-folderName{
	margin-bottom: 30px;
	}
	
	#folderCreate-folderName {
	color:#4e4e4e;
	border-width: 0px;
	border-bottom: 2px solid #FFD739;
	width: 210px;
	font-size:18px;
	font-family: "NotoSansKR-Bold";
	}
	
	#folderCreateModal-Footer {
		text-align:center;
	}
	
	#folderCreateModal-Button, #folderCreateModal-CancleButton {
		background-color: #FFD739;
		color: #404040;
		border: 0px;
		font-size:15px;
		font-family: "NotoSansKR-Bold";
		margin: auto;
	}
	
	/* 폴더 ,세트 삭제 모달 */
   #folderDeleteModal, #setDeleteModal {
         text-align: center;
       }
       
    @media screen and (min-width: 768px) {
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }
       
	 .modal-dialog {
          display: inline-block;
          vertical-align: middle;
        }
        
	#Folder-Delete, #Set-Delete {
		color:#333;
		font-size:18px;
		font-family: "NotoSansKR-Bold";
		margin-bottom: 30px;
	}
	
	#folderDeleteModal-Content, #setDeleteModal-Content {
		width:350px;
		height:150px;
		padding: 10px 20px 10px 20px;
		text-align:center;
		margin: 0 auto;
	}
	
	#setDel-modal, #setCan-modal, #folderDeleteModal-Button, #folderCancleModal-Button {
		background-color: #FFD739;
		color: #404040;
		border: 0px;
		font-size:15px;
		font-family: "NotoSansKR-Bold";
		margin: auto;
		margin-right:2px;
	 	margin-left:2px;
	}
	
	/* 세트 폴더 복사 */
	#setCopyModal {
		text-align: center;
	}
	
	#setCopy-Content {
		text-align: left;
		width:500px;
	}

	#setModal-footer {
		text-align:center;
	}
	
	#setCopyModal-Button, #setCopyCancleModal-Button {
		background-color: #FFD739;
		color: #404040;
		border: 0px;
		font-size:15px;
		font-family: "NotoSansKR-Bold";
		margin: auto;
		margin-right:2px;
	 	margin-left:2px;
	}

/* 푸터 하단고정 */
html,body{height:100%}
body{margin:0}
#body{min-height:100%}
#content{padding-bottom:1.5em}

/* footer 끝 */

/* @charset "UTF-8";


폰트 적용
@font-face {
	font-family:"NotoSansKR-Regular";
	src:url("fonts/NotoSansKR-Regular.otf");
}
@font-face {
	font-family:"NotoSansKR-Bold";
	src:url("fonts/NotoSansKR-Bold.otf");
}


여백 초기화
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body::-webkit-scrollbar {display: none;}

header css

header

#nav {
	display:flex;
	align-items:center;
	height: 70px; background-color:#4257B1;
}

.nav-item {
	color: #FFFFFF;
	background-color:#4257B1;
	border:0; 
	outline:0;
	font-size:15px; font-weight:400; font-family: "NotoSansKR-Regular", sans-serif;
}


#nav div.main-title{width:25%; height:70px;}
#nav div.main-search{width:25%; height:70px;}
#nav div.main-left{width:25%; height:70px;}
#nav div.main-right{width:25%; height:70px;}


#nav div.main-margin{width:3%; height:70px;}
#nav Button {border:0; outline:0; background-color:#4257B1; font-size:15px; font-weight:400; font-family: "NotoSansKR-Regular", sans-serif;}
#nav Button.title {margin:0% 3% 0% 0%; font-family:"NotoSansKR-Bold"; width:10%; font-size: 25px; font-weight:700;}
#nav Button.content { width:8%;}
#nav Button.rightLine{border-right:1px solid #FFFFFF;}
#nav input {margin:0% 3% 0% 3%; border:none; border-radius:20px; width:43%; height:40px; color:#000000; background-color:#FFFFFF;}


mainImg

#main1 {width: 1920px; height:882px; background-color:#123456;}
#mainImg1 img {width:600px; height:600px;}


#main2 {width: 1920px; height:882px; background-color:#654321;}


#main3 {width: 1920px; height:882px; background-color:#abcdef;}

@media all and (max-width:1100px) {
	#nav Button.left{display:none;}
}

header


footer
.color {
	background-color: #000000;
}

#header {
	height: 50px;
}

#footerTop {
	height: 50px;
}

#footerBottom {
	height: 100px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#copywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 20px;
}
footer 끝 */