@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family:"NotoSansKR-Regular";
	src:url("fonts/NotoSansKR-Regular.otf");
}
@font-face {
	font-family:"NotoSansKR-Bold";
	src:url("fonts/NotoSansKR-Bold.otf");
}

/****************************************************************/
/* 초기화 관련 ***************************************************/
/****************************************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

  /* =========  사이드바  ========== */

    .col-sidenav {
      background-color: #ffffff;
      position:fixed;
      padding:70px 0px 70px 0px;
      width: 220px;
      margin-left: 0px;
      margin-top: 0px;
      box-shadow:0px 0px 15px #cdcdcd ;
      display:inline-block;
      z-index:0;
      font-family:"NotoSansKR-Regular";
      font-weight: bold;
      font-size: 13px;
    }

   ul {
      list-style:none;
    }
   
   /* ----- li 전체 적용 ----- */
  	li a{
	  	display: block;
	  	color:#000000;
	  	padding: 8px;
	  	text-decoration: none;
	  	
	  	}
  	
  	li a:hover {
  		background-color:#FFD739;
  		color:white;
  		text-decoration:none;
  		}
  		
  	li a:after {
        display: block;
        width: 60px;
        border-bottom: 1px solid #FCFCFC;
        margin: 20px 0px;
         text-decoration:none;		        
	}
  		
  	/* ------- 이미지 -------- */	
  	.img-block {
  		width:14px;
  		height:14px;
  		margin-left:10px;
  		margin-top:-3px;
  	}
  	.fold-block {
  		width: 14px;
  		height: 12px;
  		margin-left:10px;
  		margin-top:-3px;
  	}
  	
  	
	/* ------- 선 -------- */	
	hr {
        color:#cdcdcd;border:0.5px solid #FCFCFC;
	}
		     
  	/* --------------text 간격 조정 ---------------*/
	#home-txt {
  		margin: 0px 0px 0px 20px;
  	}
  	#rec-txt {
  		margin: 0px 0px 0px 17px;
  	}
  	#fol-txt {
  		margin: 0px 0px 0px 20px;
  	}
  	#set-txt {
  		margin: 0px 0px 0px 20px;
  	}
	#fold-txt {
  		margin: 0px 0px 0px 20px;
  	}  	
  	#otherfold-txt {
  		margin: 0px 0px 0px 20px;
  	}
  	#mypage-txt {
  		margin: 0px 0px 0px 20px;
  	}
  	#setting-txt{
  		margin: 0px 0px 0px 20px;
  	}
  	#f1-txt {
  		padding: 0px 0px 0px 0px;
  	}
  	
  	/* ---------펼치기 ------------*/
  	.on-fold {
  		margin: 0px 0px 0px 30px;
  	}
  	
  	#onfold-txt {
			padding: 0px 0px 0px 40px;
	}
		
	.in-fold .on-fold { 
	width: 100%;
    border-bottom: 1px solid #cfa608;
    background: white;
    display: none; 
    }
    
	.in-fold ul { 
	background: white;
	text-decoration:none;
	}
	.in-fold ul li { text-indent: 20px;}
	
	.material-icons {
		vertical-align:middle;
		color:#1ABC9C;
		
	}
	
	.myfolder-title {
		cursor:pointer;
		font-family:"NotoSansKR-Regular";
      	font-weight: bold;
      	font-size: 13px;
	}
	
	.otherfolder-title {
		cursor:pointer;
		font-family:"NotoSansKR-Regular";
      	font-weight: bold;
      	font-size: 13px;
      	color:#000000;
      	padding:8px;
      	text-overflow:ellipsis;
		overflow:hidden;
		white-space: nowrap;
	}
	
	.otherfolder-title:hover {
		background-color:#FFD739;
  		color:white;
  		text-decoration:none;
  		cursor:pointer;
	}
	
	.folder-wrap {
		height:150px;
	}

	
	.folder-Area {
		font-family:"NotoSansKR-Regular";
      	font-weight: bold;
      	font-size: 13px;
      	color:#000000;
      	overflow:auto;
      	height:150px;
      	-ms-overflow-style: none; /* IE and Edge */
    	scrollbar-width: none; /* Firefox */
	}
	
	.folder-Area::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}
	
	.myfolder {
		display:block;
	}
	
	.otherfolder {
		display:none;
	}
	
	.folderContents-hover {
		padding:5px 0px 5px 0px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space: nowrap;
		line-height:1.5;
		display:block;
		cursor:pointer;
	}
	
	.folderContents-hover:hover {
		background-color:#FFD739;
  		color:white;
  		text-decoration:none;
  		
	}
	
	.folderContents-padding-0 {
		padding: 0px 0px 0px 30px;
	}
	
	.folderContents-padding-1 {
		padding: 0px 0px 0px 40px;
	}
	
	.folderContents-padding-2 {
		padding: 0px 0px 0px 50px;
	}
	
	.folderContents-padding-3 {
		padding: 0px 0px 0px 60px;
	}
	
	
	.newfolder {
		margin:10px 0px 10px 0px;
		text-align:center;
		cursor:pointer;
		font-family:"NotoSansKR-Regular";
      	font-weight: bold;
      	font-size: 13px;
      	color:#1ABC9C;
	}
	
	.selected {
		background-color:#FFD739;
  		color:white;
  		text-decoration:none;
	}
	.folderDepth-0 {
	}
	
	.folderDepth-1 {
		display:none;
	}
	
	.folderDepth-2 {
		display:none;
		}
	
	.folderDepth-3 {
		display:none;
		}
	
	.material-icons {
		width:20px;
		height:20px;
	}

  	